REACT_APP_FIREBASE_API_KEY="<PROJECT_API_KEY>"
REACT_APP_FIREBASE_AUTH_DOMAIN="<PROJECT_ID>.firebaseapp.com"
REACT_APP_FIREBASE_DATABASE_URL="<PROJECT_ID>.<REGION>.firebasedatabase.app"
REACT_APP_FIREBASE_PROJECT_ID="<PROJECT_ID>"
REACT_APP_FIREBASE_STORAGE_BUCKET="<PROJECT_ID>.appspot.com"
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=""
REACT_APP_FIREBASE_APP_ID="<FIREBASE_APP_ID>"